@font-face {
    font-family: arcade;
    src: url("../assets/fonts/ARCADECLASSIC.TTF");
}
@font-face {
    font-family: marcianos;
    src: url("../assets/fonts/invaders.from.space.[fontvir.us].ttf");
}

body{
    background-image: url(../assets/images/fondoarcade.jpg);
}

.container {
    margin: 0 auto;
    border: 1px solid;
    width: 1100px;

}

.title {
    font-family: arcade;
    letter-spacing: 5px;
    text-align: center;
    color: wheat;
    font-size: 3rem;
}
.canvas{
    background-image: url(../assets/images/fondo-maquina.jpg);
    margin: 0 auto;
    z-index: -10;
}
.marcianos{
    font-family: marcianos;
    color: wheat;
    text-align: center;
}

.score{
    font-family: arcade;
    text-align: center;
    color: wheat;
    margin-bottom: 0;
}
.btn_reinicio{
    padding: 10px;
    border-radius: 5px;
    font-family: arcade;
    background-color: rgb(48, 46, 46);
    color: wheat;
    margin: 0 auto;
    width: 100%;
    display: none;
}
.mostrar{
    display: block;
}